* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --secondary-color: #06181C;
  --text-color: #E1E1E6;

  --primary-color: #065E7C;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.logo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 65%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding-bottom: 4rem;
  margin: 5.5rem 0;
}

header h1 {
  font-size: 2rem;
  color: white;
  font-weight: normal;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  height: 4.1rem;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 5px;
  padding: 1.6rem 1.6rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

input:focus{
  outline: none;
}

.search button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  height: 4.1rem;
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  transition: background-color 0.3s, color 0.3s, filter 0.3s;
}

.search button:hover {
  filter: brightness(1.1);
  color: var(--primary-color);
  background-color: #fff;
  cursor: pointer;
}

.tabela{
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem; 
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: 600;
  padding: 1.5rem;
  font-size: 1.6rem;
}

table tr:nth-child(odd) {
  background: #06161B;
}

table tr:nth-child(even) {
  background: #042127;
}

table td {
  padding: 2.5rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td.repositories{
  font-weight: 600;
}

td.followers{
  font-weight: 600;
}

td .remove {
  background: none;
  border: none;
  color: #F75A68;
  cursor: pointer;
  font-weight: 600;
}

.display-off{
  display: none;
}

.display-on thead th:first-child {
  border-top-left-radius: 1rem;
}

.display-on thead th:last-child {
  border-top-right-radius: 1rem;
}

.empty{
  border: 1px solid var(--primary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 300px;
  max-height: 300px;
  padding: 2rem;
}

.empty h1{
  font-size: 3rem;
  font-weight: lighter;
  color: #4e5455;
}